.main-content__wrap {
  @include breakpoint(desktop) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1145px;
    margin: auto;
  }
}

.company__list {
  display: flex;
  align-items: center;
  gap: 28px;
  justify-content: center;
}
