.modal {
  position: fixed;
  top: 0;
  left: calc(100% - 240px);
  max-width: 240px;
  width: 100%;
  border: none;
  height: 100%;

  .dropdown__list {
    position: relative;
    border: none;
    box-shadow: none;
    top: 0;
    min-width: 100%;
    padding: 0 0 0 15px;
  }

  .btn {
    position: relative;
    width: 24px;
    height: 24px;
    background: transparent;
    text-align: right;
    margin-bottom: 29px;
    display: inline-block;
    text-decoration: none;

    &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url(./assets/images/icon-close-menu.svg);
    }
  }

  .links__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    a {
      text-decoration: none;
      font-size: 16px;
      line-height: 26px;
      color: #686868;
      @include body-text;
      display: block;
      margin-right: 0;

      &.register {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.modal__inner {
  padding: 21px 24px;
  height: 100%;
  width: 100%;
}

.btn__wrap {
  text-align: right;
}

.modal__menu__list {
  background: #ffffff;
  margin-bottom: 35px;
}

.modal__nav__item {
  font-size: 16px;
  line-height: 26px;
  color: #686868;
  @include body-text;
  list-style: none;
  margin-bottom: 16px;

  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #686868;
    @include body-text;
    margin-bottom: 24px;
    display: inline-block;
  }

  .dropdown__list {
    display: none;
  }

  &.active {
    > .nav__item__link + .dropdown__list {
      display: block;
    }
  }
}

.modal[open] {
  animation: show 150ms ease;
}

.modal {
  &.close {
    animation: hideModal 150ms ease;

    &::backdrop {
      animation: haideBackDrop 150ms ease;
    }
  }
}

.modal::backdrop {
  background: #151515;
  opacity: 0.75;
  animation: backdrop 150ms ease;
}

@keyframes show {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hideModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes hideBackdrop {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 0;
  }
}
