.text__container_wrap {
  @include breakpoint(desktop) {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    padding-top: 143px;
    max-width: 550px;
    flex-shrink: 0;
    width: 100%;
  }
}

.text__container {
  margin-bottom: 48px;

  .layout {
    text-align: center;

    @include breakpoint(desktop) {
      text-align: left;
    }
  }

  @include breakpoint(desktop) {
    margin-bottom: 110px;
  }

  .btn {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.222222px;
    color: #fafafa;
    text-decoration: none;
    display: inline-block;

    @include heading-text;
    background: #151515;
    border-radius: 15px;
    padding: 12px 24px;
    border: 1px solid transparent;

    @include breakpoint(desktop) {
      display: inline-block;
      text-align: left;
      padding: 12px 36px;
    }

    &:hover {
      @include breakpoint(desktop) {
        cursor: pointer;
        background: transparent;
        border: 1px solid #151515;
        border-radius: 15px;
        box-shadow: (0 4px 4px rgba(0, 0, 0, 0.25));
        color: #151515;
      }
    }
  }
}

.text__container__heading {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #151515;
  @include heading-text;
  margin-bottom: 16px;

  @include breakpoint(desktop) {
    font-size: 80px;
    display: inline-block;
    text-align: left;
    line-height: 80px;
    letter-spacing: -1.11111px;
    margin-bottom: 52px;
  }
}

.text__container__description {
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #686868;
  margin-bottom: 21px;
  @include heading-text;

  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
    max-width: 437px;
  }
}
