.top__container {
  margin-bottom: 48px;

  @include breakpoint(desktop) {
    height: 640px;
    padding-left: 134px;
    padding-top: 45px;
    width: 100%;
  }
}

.top__container__pic {
  @include breakpoint(desktop) {
    height: 100%;
  }

  img {
    margin: auto;
    @include breakpoint(desktop) {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
